@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    
} 

body {
    background: linear-gradient(to top, lightgray, white);
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 0, 0);
    }

.layout {
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
    padding: 2rem 1rem;
    max-width: 960px;
    height: 85vh;
    margin: 0 auto;
}

.footer {
    padding: 1rem;
    text-align: center;
    background-color: #eee;
}





